html{
  background: #34d186;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
}

h1, h2, h3, h4{
  font-weight: bold;
}

#pyscript_loading_splash{
  opacity: 0;
}

.preload {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    z-index: 10;
  }
  
  .preload h3 {
    position: absolute;
    top:55%;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    color:black;
    font-weight: 400;
  }
  
  
  .preload-finish {
    opacity: 0;
    pointer-events: none;
  }


  @keyframes playCard {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -2781px 0px;
    }
  }

  .cardAnimation {
  animation-duration: 900ms;
  animation-timing-function: steps(27);
  animation-iteration-count: infinite;
  width: 103px;
  height: 72px;
  background-repeat: no-repeat;
}
  .cardAnimation.play {
    animation-name: playCard;
  }

  .box-title{
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
  }

  .input-content{
    margin-left: 0%;
    margin-top: 5%;
  }


  input[type='radio'], label{   
    vertical-align: baseline;
    padding: 10px;
    margin: 10px;
    display: inline;
 }

 button {
  background:    #34d186 !important;
  color:         #ffffff !important;
  border-width: 0 !important;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 75%;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  transition: all .5s ease;
}

button:hover {
  background:    #585858 !important;
  
}
#score{
  margin-left: 40%;
  font-size: larger;
  padding-top: 25px;
  padding-bottom: 25px;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 20%;
}

#age-range {
  width: 50%;
  margin-left: 20%;
}

input{
  color: black;
  border-color: transparent;
}

.input:focus {
  outline: none !important;
  border:5px solid red !important;
}

textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

textarea {
  resize: none;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 240px;
  padding: 5px;
}

textarea ::placeholder{
  color: #969696;
}

table { 
margin-left: auto;
margin-right: auto;
}

th {
  text-align:center !important
}

td{
  padding: 10px;
}
.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  margin-top: 5%;
}

.header {
  background-color: rgb(241, 241, 241);
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.jobs-modal{
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90vh;
  background: #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  font-size: 15px;
  border-radius: 10px;
}

.jobs-modal-open {
  opacity: .9;
  pointer-events: all !important;
}

#close-btn{
    position: absolute;
    top: 6%;
    left: 91%;
    font-size: 25px;
    font-weight: 700;
}

a:hover {
  cursor:pointer;
  color: #34d186;
  transition: all .5s ease;
 }

 .project-info{
  text-align: center;
  color:rgb(229 229 229);
  padding-top: 2%;
 }

 .repo{
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all .5s ease
 }

 .repo:hover{
   color: #585858;
 }
